<!DOCTYPE html>
<html>
<body>

<h2>CALCULATE</h2>

<form method="post">{% csrf_token %}
  <label for="fname">First Num:</label><br>
  <input type="text" id="fname" name="fn" ><br>
  <label for="lname">Second Name:</label><br>
  <input type="text" id="lname" name="sn" ><br><br>
  <select name="opr" id="">
    <option value="+">add</option>
    <option value="-">sub</option>
    <option value="*">multi</option>
    <option value="/">division</option>
  </select>
  <button type="submit">CALCULATE</button><br>
  <label for="">Output:</label><br>
  <input type="text" value="{{o}}"><br>
  

</form> 

</body>
</html>